.mainContent {
  width: 100%;
  text-align: center;
}
.profilePicture {
  text-align: center;
  border: 5px solid transparent;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  object-fit: fill;
  background: linear-gradient(
    90deg,
    #4dd4f7 0%,
    #9090fb 30.73%,
    #ff6b81 68.75%,
    #fbdf63 100%
  );
  border-radius: 50%;
  margin-bottom: 2rem;
}

.post_foll {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.h3_pff {
  font-weight: 400;
  font-size: 10px;
  color: #ababab;
  font-size: 18px;
}

.p_pff {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.user_description {
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2rem;
}
